* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}
.container {
  width: 90%;
  margin: auto;
}

section {
  padding: 50px 0;
}
/*======================== Navigation =============================*/
.nav-main {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 10px;
  background-color: #1b057c;
  border-radius: 5px;
}
.nav-main .lista {
  margin-right: 30px;
}

img {
  height: 40px;
  width: 120px;
}
ul li {
  list-style: none;
  
}
.lista {
  justify-content: right;
  display: flex;
  padding: 10px;
}

.lista li a {
  color: #badc58;
  text-decoration-line: none;
  padding: 10px;
}
.menu-btn {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 50px;
  z-index: 2;
}



/*======================== Banner =============================*/
.profile-picture {
  width: 150px;
  height: 150px;
  background-color: rgba(158, 158, 158, 0.38);
  background-image: url('../img/face.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: auto;
}

/* 
======================== Posts =============================
*/
.posts {
  background-color: azure;
}
h5 {
  color: gray;
}
.first-work {
  height: 250px;
  width: 100%;
  background-image: url('../img/work1.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

/*
======================== Components =============================
*/
.primary-button {
  background-color: #1b057c;
  color: #badc58;
  padding: 8px 15px;
  border: 0;
  border-radius: 5px;
}
.primary-button:hover {
  background-color: #badc58;
  color: #1b057c;
}

.card {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  background-color: white;
}
.card .card-body {
  padding: 20px;
}
/*==========tag component==========*/
.tag {
  min-width: 100px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: grey ;
  display: inline-block;
}
.primary-tag {
  background-color: #1b057c ;
  color: #badc58;
}

/*
======================== Helpers =============================
*/
.primary-text {
  color: #0d1568;
}
.center-text {
  text-align: center;
}
.space-top {
  margin-top: 20px;
}

[class*="col-"] {
  padding: 10px;
}
/* small devices */
@media (max-width: 576px) {

  .lista  {
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    background: rgba(27 5 124 / 46%);
    height: 100%;
    padding: 30px;
    opacity: .8;
  }
  .lista li {
    padding: 20px;
    border-bottom: #badc58 solid 1px;
  }
  
  .col-sm-1 {
    width: 8.333%;
  }
  .col-sm-2 {
    width: 16.666%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.333%;
  }
  .col-sm-5 {
    width: 41.666%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.333%;
  }
  .col-sm-8 {
    width: 66.666%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.333%;
  }
  .col-sm-11 {
    width: 91.666%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .menu-btn {
    display: none;
  }

/* medium devices*/
@media (min-width: 768px) {
  
  .menu-btn {
    display: none;
  }
  .row {
    display: flex;
  }
  .col-md-1 {
    width: 8.333%;
  }
  .col-md-2 {
    width: 16.666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333%;
  }
  .col-md-5 {
    width: 41.666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333%;
  }
  .col-md-8 {
    width: 66.666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333%;
  }
  .col-md-11 {
    width: 91.666%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/*Large devices*/
@media (min-width: 992px) {
  .row {
    display: flex;
  }
  
  .col-lg-1 {
    width: 8.333%;
  }
  .col-lg-2 {
    width: 16.666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333%;
  }
  .col-lg-5 {
    width: 41.666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333%;
  }
  .col-lg-8 {
    width: 66.666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.333%;
  }
  .col-lg-11 {
    width: 91.666%;
  }
  .col-lg-12 {
    width: 100%;
  }
}